html {
  overflow-y: scroll;
}

h1 {
  text-align: center;  
}

.regionsList {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.regionsList__filter {
  padding: 1em 0;
}

.regionDetail {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}